	  <div id="footer" class="container">
	     <div class="row">
	        <div class="col-md-4 text-left">
               <a href="http://seagatesoft.com" target="_new">
                  <img src="/static/img/sitoko-header-black-small.png" alt="Sitoko" border="0" />
			   </a>
			   <br />Sistem Informasi Toko
            </div>
		    <div class="col-md-4 text-center"><p>Copyright © 2013. SeaGateSoft.</p></div>
		    <div class="col-md-4 text-right">
               <a href="http://seagatesoft.com" target="_new">
                  <img src="/static/img/nuevasystem-small.png" alt="Nuevasystem" border="0" />
               </a>
            </div>
		 </div>
      </div>
   </body>
</html>
