<!DOCTYPE html>
<html>
   <head>
      <title>SITOKO</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	  <link href="/static/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" media="screen">
      <link href="/static/css/sitoko.css" rel="stylesheet" media="screen">
	  <link href="/static/css/print.css" rel="stylesheet" media="print">
   </head>
   <body>
	  <nav id="navigation" class="container navbar navbar-default" role="navigation">
         <ul class="nav nav-pills">
		    <li><img src="/static/img/sitoko-header-black.png" alt="SITOKO logo" class="img-responsive" /></li>
		    <li>
			   <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Master</strong><span class="caret"></span></a>
			   <ul class="dropdown-menu">
			      <li><a href="#">Barang</a></li>
				  <li><a href="#">Harga Barang</a></li>
				  <li><a href="#">Impor Data Barang</a></li>
				  <li><a href="#">Impor Data Harga Barang</a></li>
			   </ul>
			</li>
			<li>
			   <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Penjualan</strong><span class="caret"></span></a>
			   <ul class="dropdown-menu">
			      <li><a href="#">Transaksi Baru</a></li>
				  <li><a href="#">Pembayaran</a></li>
			   </ul>
			</li>
         </ul>
	  </nav>